{% extends 'base.html.twig' %}
{% block title %}Gerer les livres
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<table class="table table-striped">


			<thead>
				<tr>
					<th>Titre</th>
					<th>Actions</th>
				</tr>
			</thead>
         <tbody>
				{% for livre in livres %}
            <tr>
            <td>{{livre.titre}}</td>
            <td><a href="{{path('app_admin_edit',{id:livre.id})}}" class="btn btn-primary">Modifier</a></td>
            
            <td><form method="DELETE" action= "{{path('app_admin_delete',{id:livre.id})}}">
            <button  class="btn btn-danger">Supprimer</button>
            </form></td>
            </tr>
            {% endfor %}
			</tbody>
         
		</table>
        <a href="{{path('app_admin_add')}}" class="btn btn-primary">Ajouter un livre</a>
	</div>

{% endblock %}
